<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <app-dates-on-api></app-dates-on-api>
  <h1>Date and time bombs</h1>
  <form (submit)="onSubmit()" [formGroup]="dates">
    <label for="textDate">Text input</label>
    <input formControlName="textDate" id="textDate" />
    <dl>
      <dt>Field value</dt>
      <dd>{{ this.textDateValue }}</dd>
      <dt>Interpreted as</dt>
      <dd>{{ this.textDateInterpreted }}</dd>
    </dl>

    <label for="htmlDate">Html Date Picker</label>
    <input type="date" formControlName="htmlDate" id="htmlDate" />
    <dl>
      <dt>Field value</dt>
      <dd>{{ this.htmlDateValue }}</dd>
      <dt>Interpreted as</dt>
      <dd>{{ this.htmlDateInterpreted }}</dd>
    </dl>

    <mat-form-field>
      <input
        matInput
        [matDatepicker]="dp"
        placeholder="Moment.js datepicker"
        formControlName="matDate"
      />
      <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker #dp></mat-datepicker>
    </mat-form-field>
    <dl>
      <dt>Field value</dt>
      <dd>{{ this.matDateValue }}</dd>
      <dt>Interpreted as</dt>
      <dd>{{ this.matDateInterpreted }}</dd>
    </dl>
  </form>
</div>
